@import url("https://fonts.googleapis.com/css2?family=Itim&family=Lobster&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: white;
}

/* #main {
} */

h1 {
    /* text-align: center; */
    margin: 0 20px;
    font-family: "Lobster", cursive;
    color: black;
}

#image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 40px;
}

#image-title-item {
    padding-top: 20px;
    margin: 0px 20px;
}

img {
    object-fit: cover;
    width: 260px;
    height: 260px;
}

.modal-component {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 850px;
    max-width: 100%;
    height: 650px;
    max-height: 100%;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 10px;

    display: flex;
    /* flex-direction: column; */
    /* justify-content: center;
    align-items: center; */
    flex-wrap: wrap;
    padding: 10px;
}

.modal-image {
    /* width: 100%;
    max-width: 460px;
    height: 100%;
    max-height: 550px;
    overflow: auto; */
    height: 100%;
    width: 100%;
    max-height: 100vh;
    max-width: 100vh;
    object-fit: contain;
}

.overlay {
    position: fixed;
    background: rgba(50, 50, 50, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.cat-icon {
    width: 40px;
    height: 40px;
    margin: 0 20px;
    margin-top: 5px;
}

#form-container {
    margin: 20px;
}

/* .form-modal {
} */

.more-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 0px;
}

.x {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    cursor: pointer;
    /* position: fixed;
    bottom: 95%;
    left: 95%; */
}

.modal-inner-box {
    display: flex;
    height: 100%;
    width: 100%;
}

#modal-scroll-box {
    width: 100%;
    max-height: 100%;
    height: 480px;
    overflow: auto;
    margin: 5px 0;
    cursor: pointer;
}

.submit:hover,
.more:hover {
    background-color: mediumaquamarine;
    color: white;
    border: 1px solid mediumaquamarine;
    border-radius: 4px;
    width: 100px;
    height: 30px;
}

.submit,
.more {
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 4px;
    width: 100px;
    height: 30px;
    margin: 10px;
}

.submit:active,
.more:active {
    width: 99px;
    height: 29px;
}

.submit:focus,
.more:focus,
.comment:focus {
    outline: none;
}

input {
    border-radius: 4px;
    width: 200px;
    height: 30px;
}

.comment {
    background-color: mediumaquamarine;
    color: white;
    border: 1px solid mediumaquamarine;
    border-radius: 4px;
    width: 100px;
    height: 30px;
}

.form-comment-container {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.image-modal-container {
    margin: 0 20px;
    /* width: 550px; */
    /* overflow: auto; */
}

p {
    font-family: "Lato", sans-serif;
}

.modal-caption {
    color: white;
    margin: 6px 0;
}

.one-comment {
    background-color: white;
    color: black;
    border-radius: 4px;
    margin: 5px 0;
    padding: 2px;
}

.comment-p {
    color: mediumaquamarine;
}

a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 500px) {
    .modal-inner-box {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        overflow: auto;
    }

    #modal-scroll-box {
        width: 100%;
        max-height: 100%;
        height: 200px;
        overflow: auto;
        margin: 5px 0;
        cursor: pointer;
    }

    .x {
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        cursor: pointer;
        position: fixed;
        bottom: 95%;
        left: 95%;
    }
}
